:root{
    --background-color-navbar: #1a3b70;
    --color-navbar-small: #0c1a32;
    --text-color-navbar: #073e7c;
    --background-color: #f7f7f7;
    --background-article: #ffffff;
    --category-color: black;
    --autor-color: #555;
    --shadow-article: 0 2px 6px rgba(0, 0, 0, 0.15);
    --category-color-blue: #1a3b70;
    --color-text-white: #ffffff;
    --color-text-black: #000000;
    --color-button-hover: #c7c7c7;
    --most-read-color: #1a3b70;
    --color-box-adv: #e7e4e4;
    --color-video-background: #00023D;
    --other-category-text: black;
    --text-color-footer:#073e7c;
    --color-text-soft-dark: #302a2a;
    --abbonati-btn-background-color: #ffeb00;
    --font-navbar: sans-serif;
    --font-title:'Playfair Display', serif;
    --font-title-most-read: 'DM Sans', sans-serif;
    --font-title-category: 'DM Sans', sans-serif;
}


.icon {
    padding-bottom: 10px;
}

.border-dashed {
    border-right: 2px dashed #999 !important;
}


.container-topbar {
    max-width: 1110px;
    background-color: var(--background-color); /* colore di sfondo personalizzato */
    padding-left: 70px;
    padding-right: 70px;
    margin: 40px auto 0;
}

/*TOP*/
.container-topbar .row.top{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}




/* Contenitore principale con larghezza fissa */
.container-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
}

.container-categories {
    position: relative;
    width: 100%;
    max-width: 1110px; /* Impostiamo la larghezza massima come .container-main */
    margin: 0 auto; /* Centra il contenitore */
    padding-left: 0px; /* Padding a sinistra come container-main */
    padding-right: 0px; /* Padding a destra come container-main */
}

.container-category {
    display:flex;
    flex-wrap: wrap;
    max-width: 1110px;
    width: 100%;
    background-color: var(--background-color);
    padding: 30px 70px;
    gap: 30px;
    margin: 0 auto;
}

.container-category.blue {
    background-color: var(--background-color-navbar);
    .section-header .section-title{
        color: var(--color-text-white);
    }
    .section-header .icon{
        color: var(--color-text-white);
    }
}
.container-category.grey {
    background-color: var(--background-color);
    .section-header .section-title{
        color: var(--color-text-black);
    }
    .section-header .icon{
        color: var(--color-text-black);
    }
}

.font-logo {
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: 2rem;
}

.link-menu {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-flex; /* Usa inline-flex per allineare orizzontalmente */
    align-items: center;  /* Allinea gli elementi verticalmente */
}

.link-menu::before {
    content: "/// ";
    color: #003366;
    font-weight: bold;
    margin-right: 8px; /* Aggiungi uno spazio tra i simboli e il testo */
    display: inline;  /* Assicurati che i simboli siano affiancati al testo */
}

.scroll-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden; /* Rimuove la barra di scorrimento */
}

.overflow-scroll-wrapper {
    overflow-x: hidden; /* Assicura che non ci sia overflow orizzontale */
    overflow-y: hidden; /* Assicura che non ci sia overflow verticale */
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    width: 100%; /* Assicura che l'elemento non ecceda la larghezza della finestra */
    height: 100%; /* Evita che ecceda anche in altezza */
}

/* Nasconde la barra di scorrimento orizzontale (solo visibile) */
.overflow-scroll-wrapper::-webkit-scrollbar {
    display: none; /* Rimuove la parte visibile della scrollbar */
}

/* Barra di scorrimento su Firefox */
.overflow-scroll-wrapper {
    scrollbar-width: none; /* Rimuove la scrollbar orizzontale su Firefox */
}

/* Permettere al menu di andare a capo su schermi piccoli */
.menu-secondario {
    display: flex;
    flex-wrap: wrap;  /* Consente di andare a capo */
    gap: 10px;
}

.menu-secondario a {
    white-space: normal; /* Permette al testo di andare a capo */
    padding-top:5px;
    padding-bottom:5px;
}

/* Freccia destra */
.scroll-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: white;
    border: none;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-radius: 50%;
    transition: background 0.2s;
}

.linea-nera-spessa {
    height: 3px;
    background-color: black;
    width: 100%;
    margin: 0;
}

.linea-nera-sottile {
    height: 1px;
    background-color: black;
    width: 100%;
    margin-top: 4px;
}

.btn-success:hover {
    background-color: transparent;
    color: #0f5132; /* colore verde scuro */
    border: 2px solid #0f5132;
}

.btn-danger:hover {
    background-color: transparent;
    color: #842029; /* colore rosso scuro */
    border: 2px solid #842029;
}
.link-menu {
    color: black;
    text-decoration: none;
    padding: 4px 8px;
    transition: all 0.2s ease;
}

.link-menu:hover {
    background-color: var(--color-button-hover); /* grigio scuro */
    color: white;
    border-radius: 4px;
}
.logo-img {
    aspect-ratio: 550/66; /* rapporto di aspetto */
    height: 70px;
    object-fit: contain; /* mantiene proporzioni */
    display: block;
    margin: 0 auto; /* per centrarla orizzontalmente */
}






/* PRIMO PIANO*/
/* Layout flessibile */
.row {
    width: 102.5%;
    box-sizing: content-box;
    margin: auto;
    position:relative;
    align-content: center;
    gap:0;
}

/* full width article prende 3/3 dello spazio*/
.full-width-article {
    flex: fit-content;
    margin: 0 auto;
}

/* Primo piano prende 2/3 dello spazio */
.main-article {
    flex: 2;
    margin: 0 auto;
}

/* Titoli di sezione */
.section-title {
    text-decoration-color: var(--category-color);
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;
}


.click-effect {
    text-decoration: none;
    color: inherit;
}

.click-effect:hover {
    text-decoration: underline;
}


/* --- Articolo principale con sfondo bianco --- */
.featured-article {
    display: flex;
    flex-direction: column;
    background: var(--background-article);
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    /* rimuovi padding generale */
    position: relative;
    border-radius: 3px;
    box-shadow: var(--shadow-article);
}
/* Padding solo sui blocchi di testo */
.featured-article .featured-text {
    padding: 30px 30px 5px;
}
.featured-article .featured-title {
    margin: 0 0 1rem;
    font-size: 35px;
    font-weight: bold;
    font-family: var(--font-title);
}
.featured-article .featured-author {
    margin: 0 0 1rem;
    font-size: 0.9rem;
    color: var(--autor-color);
    font-weight: bold;
}
/* Immagine full-width dentro il box bianco */
.featured-article .featured-image {
    display: block;
    width: 100%;
    aspect-ratio: 750/421;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

/* Sezione Testo identificatore container logo-testo es > Primo piano */
.section-header {
    display: flex;
    align-items: center;
    gap: 10px; /* spazio tra icona e testo */
}
.container-main .icon {
    padding-top: 5px;
    padding-bottom: 0px;
}


/* SOTTO ARTICOLI PRIMO PIANO */
.sub-articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top:10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.sub-article {
    background-color: var(--background-article);
    display: flex;
    align-items: stretch; /* nessun padding verticale */
    border-radius: 3px;
    box-shadow: var(--shadow-article);
}
.sub-image {
    aspect-ratio: 16/9;
    width: 32.5%;
    height: auto;
    object-fit: cover;
    margin: 0; /* rimuove spazi indesiderati */
}
.sub-text {
    font-weight: bold;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-title {
    font-family: var(--font-title);
    font-size: 21px;
    margin: 0;
}
.sub-author {
    font-size: 0.9rem;
    color: var(--autor-color);
    margin-top: 5px;
}



/* ARTICOLI I PIU' LETTI*/
/* I più letti prende 1/3 dello spazio */
.most-read {
    flex: 1;
    margin:0;
}

.most-read-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}
.most-read-item {
    display: flex;
    align-items: start;
    background-color: var(--background-article);
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: var(--shadow-article);
}
/*banner pubblicitario in most read*/
.most-read-adv {
    background-color: var(--color-box-adv);
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    margin-left: 10px;
    width: auto;
    height: 80%; /* aumentata rispetto a prima */
    overflow: visible; /* importante per mostrare la parte traslata */
    padding-bottom: 0;
}

.most-read-adv-inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.adv-image {
    width: 100%;
    height: 100%;
    transform: translateY(-30px);
    display: block;
}




.most-read-item .thumb {
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    width: 40%;
    height: auto;
}
.most-read-item .info .category {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: var(--category-color);
    margin-bottom: 5px;
    margin-top:10px ;
}
.most-read-item .info .title {
    font-family: var(--font-title-most-read);
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 10px;
    margin: 0 3px 0 0;
}
.most-read .section-header .section-title {
    color: var(--most-read-color);
    margin-left: 10px;
}

.categories-list {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding-left: 8px;
    scroll-snap-type: x mandatory;
}
.category-article {
    flex: 0 0 auto;
    box-sizing: border-box;
    position: relative;
    width: 220px;
    height: 246.39px;
    background-color: var(--background-article);
    box-shadow: var(--shadow-article);
    border-radius: 2px;
    text-align: start;
}

.category-article img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0 auto;
}

.category-category {
    font-family: var(--font-title-category);
    font-size: 13px;
    padding-top:5px;
    margin-bottom: 10px;
    padding-left: 8px;
}

.container-category .section-title{
    text-decoration-color: var(--category-color);
    margin: 0 0 0;
    font-size: 30px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 15px;
}
.container-category.articoli-misto .section-header .section-title {
    color: var(--other-category-text);

}
.container-category.articoli-misto .section-header {
    .icon{
        color: var(--other-category-text);
    }
}
.container-category .section-header {
    .icon{
        color: white;
    }
}
.container-category .section-header .section-title {
    color: white;
}
.category-title {
    font-family: var(--font-title);
    font-size: 17px;
    font-weight: bold;
    color: var(--autor-color);
    padding-left: 8px;
}
.container-category.articoli-misto .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Spazio tra gli articoli */
}

.container-category.articoli-misto .article-col {
    flex: 0 0 calc(33.333% - 13.33px); /* 3 colonne */
    max-width: calc(33.333% - 13.33px);
}
.article-col .most-read-item .info .category .title{
    font-family: var(--font-title-most-read);
}

.container-category.video {
    background-color: var(--color-video-background);
    margin-top: 0px;
    width:100%;
}
.video-thumb {
    position: relative;
}
.video-article .category-title {
    padding-top: 10px;

}
.video-thumb img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.play-icon {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px black;
}
.video-duration {
    display: block;
    padding-left: 10px;
    font-size: 0.875rem;
    color: var(--color-text-soft-dark);
}
.most-read-item.custom-article{
    .video-duration{
        padding-left: 0;
    }
}




@media(min-width: 1110px) {
    .most-read-adv{
        height: 207px;
    }
}
@media (max-width: 1110px) {

    .container-main {
        max-width: 828px; /* Il contenitore si restringe */
        padding: 0 30px;
    }
    .container-topbar{
        max-width: 828px;
        padding: 0 30px;
    }
    .container-categories{
        max-width: 828px;
        padding: 0 0px;
    }
    .container-category{
        max-width: 828px;
        padding: 0 30px;
    }
    .container-category.articoli-misto .article-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row {
        flex-direction: column; /* Manda "I più letti" a capo */
    }
    .logo-img {
        height: 50px; /* o qualsiasi valore tu preferisca */
    }
    .main-article {
        width: 100%;
    }
    .most-read {
        width: 100%;
    }
    .menu-secondario {
        display: flex;
        flex-wrap: wrap;  /* Gli elementi vanno a capo su schermi piccoli */
        justify-content: center;
    }



}
@media (max-width: 828px) {
    .container-main {
        max-width: 606px; /* Ulteriore restringimento */
        padding: 0 15px;
    }
    .container-topbar{
        max-width: 606px;
        padding: 0 15px;
    }
    .container-categories{
        max-width: 606px;
        padding: 0 0px;
    }
    .container-category{
        max-width: 606px;
        padding: 0 15px;
    }
    .container-category.articoli-misto .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main-article {
        width: 100%;

    }
    .most-read {
        width: 100%;

    }
    .scroll-wrapper {
        overflow: hidden;
        position: relative;
    }

    .overflow-scroll-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        padding-left: 60px;
        padding-right: 8px;
        margin: 0;
    }

    .overflow-scroll-wrapper::-webkit-scrollbar {
        display: none;
    }

    .menu-secondario {
        display: inline-flex;
        gap: 10px;
        flex-wrap: nowrap;
        margin: 0;
    }

    .menu-secondario a {
        flex-shrink: 0;
    }


}
@media (min-width: 828px) {
    .scroll-arrow {
        display: none;!important; /* Nasconde la freccia su desktop */
    }
}
@media (max-width: 606px) {
    .featured-article{
        flex-direction: column-reverse;
    }
    .container-main {
        width: 100%;
        padding: 0 0 10px 10px;
        margin-left: 0px;
    }
    .container-categories{
        width: 100%;
        padding: 0 0 0;
        margin-left: 0px;
    }
    .container-category{
        padding-bottom: 20px;

    }
    .main-article {
        width: 100%;
        padding: 0 0;
    }
    .most-read {
        width: 100%;
    }
    .container-topbar .row.top {
        display: none;
    }
    .container-topbar .linea-nera-spessa {
        display: none;
    }
    .scroll-wrapper {
        overflow: hidden;
        position: relative;
    }

    .overflow-scroll-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        padding-left: 60px;
        padding-right: 8px;
        margin: 0;
    }

    .overflow-scroll-wrapper::-webkit-scrollbar {
        display: none;
    }
    .menu-secondario {
        display: inline-flex;
        gap: 10px;
        flex-wrap: nowrap;
        margin: 10px 0 0;
    }
    .menu-secondario a {
        flex-shrink: 0;
    }


}

